[Desktop Entry]
Encoding=UTF-8
Version={VERSION}
Type=Application
Terminal=false
Exec=bash -c "source ~/.bashrc || true && {PACKAGE}"
Name={NAME}
Icon={PATH_ICON}
