name: Build

on:
  pull_request:
  push:
    tags:
      - '*'
    branches:
      - master
      - '*package*'
  release:
    types:
      - created

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: |
          flutter gen-l10n
          flutter analyze --no-fatal-infos

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: 'tree:0'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter config --enable-windows-desktop
      - run: |
          .\package.bat
          $msiFile = Get-ChildItem -Filter *.msi
          echo "MSI_FILE=$($msiFile.Name)" >> $env:GITHUB_ENV
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.MSI_FILE }}
          path: '*.msi'
          if-no-files-found: error
      - name: Publish to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.MSI_FILE }}

  build-linux:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: 'tree:0'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'master'
          flutter-version: 3.32.0
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libsqlite3-dev libsecret-1-0 libsecret-1-dev
      - run: flutter config --enable-linux-desktop
      - run: |
          ./package.sh
          echo "DEB_FILE=$(ls *.deb)" >> $GITHUB_ENV
          echo "TAR_FILE=$(ls *.tar.xz)" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.DEB_FILE }}
          path: '*.deb'
          if-no-files-found: error
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.TAR_FILE }}
          path: '*.tar*'
          if-no-files-found: error
      - name: Publish to Release
        if: github.event_name == 'release'        
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ env.DEB_FILE }}
            ${{ env.TAR_FILE }}
